/* start fonts */
@font-face {
    font-family: vazir;
    src: url(../font/Vazir.woff2);
}
@font-face {
    font-family: zugili--abasvp;
    src: url(../font/88100--zugili--abasvp.ir--.rar);
}
/* end fonts */
/* start cssReset */
* , body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: vazir;
}
ul , ol , li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/* end cssReset */
/* start style header */
.header{
    background-color: white;
    height: 75px;
    z-index: 100;
    margin-top: 1px;
    transition: 0.5s;
}
.header-right-icon{
    font-size: 15px;
}
.header-right-product{
    margin-right: 8px;
}
.header-top-move-menubar{
    background-color: white;
    width: 430px;
    height: 1100px;
    position: absolute;
    top: 120px;
    right: 0;
    font-size: 17px;
    transform: translateX(100%);
}
.header-top-move-icon{
    position: absolute;
    left: 34px;
    top: 64px;
    color: #848686;
}
.header-top-move-items{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    width: 380px;
    transition: 0.5s;
    background-color: white;
    height: 55px;
}
.header-top-move-items:hover{
    background-color: #272727;
    color: white;
}
#header-top-move-text-tie{
    opacity: 0;
    transition: 5s;
}
#header-top-move-text-belt{
    opacity: 0;
    transition: 10s;
}
.header-top-move-EX{
    background-color: #ffffff;
    color: black;
    width: 200px;
    margin-right: -42px;
    margin-top: 25px;
}
.header-top-move-menubar-low{
    width: 10px;
    transform: translate(-83px, -40px);
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header-top-move-img-MK{
    max-width: 200px;
    transform: translate(-102px, 63px);
}
.header-dropdown{
    font-size: 18px;
    margin-right: 7px;
    color: #76767a;
}
.header-between-img{
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 160px;
    margin-top: 6px;
}
.header-close-hover{
    transition: 0.5s;
}
.header-close-hover:hover{
    color: #767676cc;
}
.header-top-left-icon-search{
    position: absolute;
    left: 176px;
    width: 27px;
    height: 27px;
    transform: translate(88px, -24px);
    transition: 0.5s;
    display: inline-block;
}
.header-top-left-icon-search:hover{
    color: #848686;
}
.header-top-left-icon-user{
    margin-top: 6px;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 9.5%;
    transform: translate(21px, -29px);
    transition: 0.5s;
}
.header-top-left-icon-user:hover{
    color: #848686;
}
.full-login{
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 1000px;
    position: absolute;
    top: 152px;
    left: 0;
    z-index: 100;
    transform: translate(-350px);
    transition: 0.3s;
}
.aside-shopping-text-close{
    position: absolute;
    left: 27px;
    top: 16px;
}
.full-close{
    transition: 0.5s;
}
.full-close:hover{
    color: #6c6c6c;
}
.aside-text-tel{
    position: absolute;
    top: 9%;
    right: 27px;
}
.aside-text-star{
    position: absolute;
    top: 9.3%;
    right: 120px;
    font-size: 18px;
    color: red;
}
.aside-input-tel{
    position: absolute;
    top: 13%;
    right: 27px;
    width: 84%;
    height: 44px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}
.aside-text-forget{
    position: absolute;
    top: 19%;
    right: 27px;
    font-size: 13px;
    color: #5c5b5b;
}
.aside-checkbox{
    position: absolute;
    top: 25%;
    right: 27px;
}
.aside-me{
    transform: translate(-49px, 240px);
}
.aside-DA{
    transform: translate(0px, 255px);
    border: 1px solid #272727;
    background-color: #272727;
    color: white;
    padding: 13px 110px;
}
.aside-user{
    margin-top: 6px;
    width: 150px;
    position: absolute;
    top: 0px;
    color: #e5e5e580;
}
.full-aside-userB{
    border-top: 1px solid #e0e0e096;
    transform: translate(10px, 262px);
}
.aside-text-account{
    transform: translate(6px, 420px);
}
.aside-text-q-account{
    font-size: 15px;
}
.aside-text-m-account{
    position: absolute;
    transform: translate(-117px, -1px);
    font-size: 15px;
    border-bottom: 2px solid;
    transition: 0.5s;
}
.aside-text-m-account:hover{
    color: #888888fb;
}
.aside-text-shop{
    position: absolute;
    top: 16px;
    right: 27px;
}
.full-aside-shopping{
    background-color: white;
    width: 360px;
    height: 1000px;
    position: absolute;
    top: 160px;
    left: 17px;
    z-index: 100;
    transform: translate(-360px);
    transition: 0.5s;
}
.full-aside-close{
    position: absolute;
    top: 14px;
    left: 34px;
    transition: 0.5s;
}
.full-aside-close:hover{
    color: #6c6c6c;
}
.aside-icon-close{
    position: absolute;
    top: 5px;
    left: 40px;
}
.aside-text-shopping{
    position: absolute;
    top: 15px;
    right: 40px;
}
#aside-icon-shopping{
    position: absolute;
    top: 90px;
    left: 112px;
    font-size: 110px;
    color: #ddddddc7;
}
.aside-text-EC{
    z-index: 100;
    position: absolute;
    top: 222px;
    left: 95px;
}
.aside-shopping-comeback{
    position: absolute;
    top: 41px;
    left: 21px;
    color: white;
    border: 1px solid #272727;
    background-color: #272727;
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: bold;
}
.login{
    position: fixed;
    top: 0;
    left: 0;
}
.header-top-left-icon-cart{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 4%;
    transform: translate(1px, -23px);
    transition: 0.5s;
}
.header-top-left-cart-before:hover{
    color: #848686;
}
.header-top-left-cart-before::before{
    content: "0";
    color: white;
    background-color: rgb(63, 63, 63);
    width: 15px;
    height: 15px;
    display: inline-flex;
    border-radius: 100%;
    position: absolute;
    left: 74px;
    z-index: 99;
    transform: translate(1px, -28px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.header-top-left-icon-heart{
    width: 27px;
    height: 27px;
    position: absolute;
    left: 7%;
    transform: translate(10px, -23px);
    transition: 0.5s;
}
.header-top-left-icon-heart:hover{
    color: #848686;
}
/* end style header */
/* start style main */
.main{
    margin-top: -20px;
}
.main-img-percent{
    width: 100%;
}
.main-view-products{
    border: 1px solid #9d9ea4;
    margin-right: 40px;
    color: #9d9ea4;
    padding: 0.7rem 1.5rem;
    font-size: 20px;
    transition: 0.3s;
    font-family: zugili--abasvp;
}
.main-view-products:hover{
    color: #27272e;
    border: 1px solid #27272e;
}
.main-MKPRODUCTS{
    margin-left: 40px;
}
.main-right-img{
    width: 900px;
    margin-right: 20px;
}
.main-left-img{
    width: 900px;
    margin-left: 20px;
}
.main-text-coat{
    border: 1px solid #aeaeae;
    padding: 0.44rem 1.7rem;
    transition: 0.5s;
    background-color: #dbdbdb;
    transform: translate(124px, 651px);
    position: absolute;
    z-index: 100;
}
.main-text-coat:hover{
    background-color: #b8b8b8;
}
.main-text-shirt{
    border: 1px solid #aeaeae;
    padding: 0.44rem 1.7rem;
    transition: 0.5s;
    background-color: #dbdbdb;
    z-index: 100;
    position: absolute;
    left: 72px;
    top: 57%;
}
.main-text-shirt:hover{
    background-color: #b8b8b8;
}
img{
    width: 100%;
}
.main-box-view-all{
    margin-top: -15px;
    margin-right: 35px;
    font-family: zugili--abasvp;
}
.main-box-view{
    border: 1px solid #9d9ea4;
    color: #9d9ea4;
    padding: 0.7rem 3rem;
    padding-left: 50px;
    font-size: 20px;
    transition: 0.3s;
    font-family: zugili--abasvp;
}
.main-box-view:hover{
    color: #27272e;
    border: 1px solid #27272e;
}
.img-nextTo-left-slider{
    width: 30%; 
    position: absolute; 
    left: 30px; 
    transform: translateY(-1533px); 
    height: 13.1%;
}
.img-nextTo-right-slider{
    width: 93%;
    height: 715px;
    transform: translate(-9px, 0);
}
/* end style main */
/* start style footer */
.footer-MK{
    width: 181px;
    height: 181px;
    margin-right: 85px;
}
.footer-text-gym{
    font-size: 24px;
    transform: translateX(-31px);
}
.footer-text-bargain{
    font-size: 17px;
    transform: translateX(-12px);
}
.footer-input{
    width: 375px;
    transform: translateX(40px);
    height: 34px;
    padding-left: 8px;
    background-color: white;
    border: 1px solid white;
    font-family: zugili--abasvp;
}
.footer-button{
    margin-top: 14px;
    background-color: #6c0a09;
    border: 1px solid #6c0a09;
    color: white;
    padding: 0.3rem 1.5rem;
    transform: translateX(-248px);
}
footer{
    background-color: #cdcdca;
    height: 400px;
    margin-top: 70px;
    font-family: BYekan;
}
/* end style footer */
/* start style go-to-up */
#go-to-up{
    position: absolute;
    bottom: 28px;
    left: 36px;
    width: 50px;
    border: 1px solid white;
    border-radius: 100%;
    height: 50px;
    color: #9a9a9a;
    background: white;
    padding: 10px 10px;
    position: fixed;
    bottom: 20px;
    left: 10px;
    cursor: pointer;
    transform: translate(-85px);
    transition: opacity 0.5s;
    pointer-events: none;
}
/* end style go-to-up */